.heading {
  text-align: center;
  padding-bottom: 48px;
}

.galery-block {
  display: flex;
  width: 100%;
  gap: 24px;
  justify-content: center;

}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 84px;
  width: 20%;
  position: relative;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.two-small {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.right-top {
    display: flex;
    gap: 24px;
}