.h1 {
  font: 600 150px/180px "Clash Display", sans-serif;
}
.h2 {
  font: 600 72px/86px "Clash Display", sans-serif;
}
.h3 {
  font: 600 32px/38px "Clash Display", sans-serif;
}
.h4 {
  font: 500 24px/29px "Clash Display", sans-serif;
}

h1.h1,
h2.h2,
h3.h3,
h4.h4 {
  display: flex;
  width: inherit;
}
