:root {
  --color-clean: #fff;
  --color-bg: #0c102d;
  --color-gradient: linear-gradient(
    152.14deg,
    rgba(21, 191, 253, 0.7) 9.96%,
    rgba(156, 55, 253, 0.7) 100%
  );
  --color-linear-2: linear-gradient(
    180deg,
    #1ff2ff 0%,
    #27f9e5 52.66%,
    #2fffcd 100%
  );
  --color-linear-3: linear-gradient(
    90deg,
    rgba(21, 191, 253, 0) 8.03%,
    rgba(21, 191, 253, 0.7) 69.15%,
    rgba(156, 55, 253, 0.7) 97.95%
  );
  --color-primary-80: #3b48d0;
  --color-primary-100: #0a1482;
  --color-error: #fd4646;
  --color-border: #636363;
  --color-text-40: #a2cbfb;
  --color-clean-5: rgba(255, 255, 255, 0.05);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: var(--color-clean);
}

.white-grad {
  width: auto;
}
